.block {
  border: none !important;
  border-radius: 3.5px !important;
  background-color: rgba(193, 229, 255, 0.329) !important;
  margin: 1em 2em !important;
  padding: 1em !important;
}

.italic {
  font-style: italic !important;
}

.grey  {
  color: rgb(75, 75, 75);
}

.snippet {
  font: inherit !important;
  color: rgb(75, 75, 75) !important;
  font-style: italic !important;
  border: none !important;
  border-radius: 3.5px !important;
  background-color: rgba(193, 229, 255, 0.329) !important;
  margin: 1em 2em !important;
  padding: 1em !important;
}